/* 
    Created on : 2018-04-08, 17:41:53
    Author     : sjasionowska
*/
*{
    padding: 0;
    margin: 0;
    font-family: Lato, Verdana, sans-serif;
    color: #EDEDED;
}

#gameCanvas 
{
    border: 1px solid black;
    margin: auto;
    margin-top: 25px;
    display: block;
    cursor: none;
}


